{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    margin: 0;
    background-color:#e4dccf;
}
.card{
    filter: drop-shadow(0 25px 25px rgb(0 0 1 /0.50));

}
.card__content{
    position: relatives;
    width: 500px;
    height: 500px;
    border-radius: 1rem;
    
}
.card__heading{
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    text-transformation: uppercase;
    font-size: 3rem;
    line-height: 1;
    color: #393646;
    transition: opacity 0.3s;
    color:black;
}
.card__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    oblect-position: top;
    border-radius: 0.875rem;
    
}
.card__reveal a{
    color:#ffffff;
    font-size:1.5rem;
    border: 2px solid white;
    border-radius:1rem;
    background-color:red;
    padding:0.5rem;
    text-decoration:none;
    transition: .5s ease
}
/* hover */
.card:hover .card__reveal{
    opacity: 1;
}
.card:hover .card__heading{
    opacity:0;
}
.card__reveal{
    position: absolute;
    top: 0;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-inline: 2rem;
    color:#ffffff;
    z-index: 2;
    opacity: 0;
    transition:opacity 0.3s;
    text-align:justify;
    font-size:1.3rem;
    max-width:15rem;
    margin-left:7.5rem;
    margin-top:3rem;
}
.card::before{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 96%;
    height: 119%;
    background: rgba(0, 0, 0, 0.7) 0%;
    z-inder: 1;
    opacity:0;
    transition: opacity 0.3s, background 0.8s;
    transition: .5s ease;
    
}
.card:hover::before{
    opacity: 1;
    transition: opacity 0.3s;
    scale:.75;
    transition: .5s ease;
    border-radius:1.5rem;
}
/* responsive design */
@media (max-width: 767px){
    .card__content{
        width:300px;
        height: 300px;
    }
    .card__heading{
        font-size: 1.5rem;
    }
}
/* repeatable patterns */
.btn.bg:hover{
    background:black;
    transition: 0.5s ease;
    scale: 1.1;
}